version: '3.8'

services:
  spring-app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - mysql
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/mydb
      SPRING_DATASOURCE_USERNAME: ahmed
      SPRING_DATASOURCE_PASSWORD: ahmed1998

  mysql:
    image: mysql:latest
    environment:
      MYSQL_ROOT_PASSWORD: ahmed1998
      MYSQL_DATABASE: mydb
      MYSQL_USER: ahmed
      MYSQL_PASSWORD: ahmed1998
    volumes:
      - /mysql-database-volume:/var/lib/mysql